.referral-modal__portals {
        --z-index-referral-modal-portals: calc(var(--z-index-profile-portals, 1000) * 20);

        z-index: var(--z-index-referral-modal-portals);
    }
    .referral-modal__wrapper {
        --modal-margin: var(--spacing-32);

        display: flex;
        flex-direction: column;
        width: 764px;
        max-width: calc(100% - var(--modal-margin));
        max-height: calc(100% - var(--modal-margin));
        border-radius: var(--border-radius-20);
    }
    @media (max-width: 767px) {
    .referral-modal__wrapper {
            height: 100%;
            border-radius: var(--border-radius-12)
    }
        }
    .referral-modal__scrollable {
        height: 100%;
    }
    .referral-modal__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 696px;
        max-width: 100%;
        min-height: 100%;
        padding: 32px;
    }
    @media (max-width: 767px) {
    .referral-modal__content {
            padding: 32px 16px 16px
    }
        }
    .referral-modal__title {
        margin: 0 0 var(--spacing-16);
        font: var(--font-ys-header-48-medium);
    }
    @media (max-width: 767px) {
    .referral-modal__title {
            margin: 0 0 var(--spacing-24);
            padding-right: 44px;
            font: var(--font-ys-header-28-medium)
    }
        }
    .referral-modal__text {
        margin: 0 0 var(--spacing-32);
        font: var(--font-ys-body-18-medium-ui);
    }
    .referral-modal__actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-32);
    }
    @media (max-width: 767px) {
    .referral-modal__actions {
            flex-direction: column-reverse;
            margin-top: auto
    }
        }
    .referral-modal__button_process.referral-modal__button_process.referral-modal__button_process.referral-modal__button_process {
            background-color: var(--color-accent-neutral);
        }
    @media (max-width: 767px) {
    .referral-modal__button {
            position: -webkit-sticky;
            position: sticky;
            bottom: 16px;
            width: 100%
    }
        }
    .referral-modal__image {
        width: 430px;
        max-width: 100%;
    }

.prisma-modal__overlay {
        background-color: var(--color-background-overlay);

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prisma-modal__content {
        --modal-content-margin: var(--spacing-8);

        box-sizing: border-box;

        background-color: var(--color-background-default);
        overflow: hidden;

        border-radius: var(--border-radius-12);

        max-width: 1424px;

        outline: none;
    }
    .prisma-modal__content_full-screen {
            height: calc(100% - 2 * var(--modal-content-margin));
            width: calc(100% - 2 * var(--modal-content-margin));
        }
    @media (max-width: 1023px) {
    .prisma-modal__content {
            border-radius: 0
    }
        }
    .prisma-modal__close.prisma-modal__close {
        position: absolute;
        top: var(--spacing-12);
        right: var(--spacing-12);
        background-color: var(--color-background-default);
    }
    /* классы для CSSTransition */
    .prisma-modal_animated-enter,
        .prisma-modal_animated-appear {
            opacity: 0.1;
        }
    .prisma-modal_animated-enter .prisma-modal__content_animated, .prisma-modal_animated-appear .prisma-modal__content_animated {
                transform: translateY(50px) scale(0.98);
                opacity: 0;
            }
    .prisma-modal_animated-enter-active,
        .prisma-modal_animated-enter-done,
        .prisma-modal_animated-appear-active,
        .prisma-modal_animated-appear-done {
            opacity: 1;
            transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        }
    .prisma-modal_animated-enter-active .prisma-modal__content_animated, .prisma-modal_animated-enter-done .prisma-modal__content_animated, .prisma-modal_animated-appear-active .prisma-modal__content_animated, .prisma-modal_animated-appear-done .prisma-modal__content_animated {
                transition: opacity 0.2s ease-out, transform 0.2s ease-out;

                transform: translateY(0px) scale(1);
                opacity: 1;
            }
    .prisma-modal_animated-exit {
            opacity: 1;
        }
    .prisma-modal_animated-exit .prisma-modal__content_animated {
                opacity: 1;
            }
    .prisma-modal_animated-exit-active {
            opacity: 0.1;
            transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        }
    .prisma-modal_animated-exit-active .prisma-modal__content_animated {
                transition: opacity 0.2s ease-out, transform 0.2s ease-out;

                transform: translateY(50px) scale(0.98);
                opacity: 0;
            }

@-webkit-keyframes prisma-button__dots_flickering {
    from {
        opacity: 0.3;
    }

    20% {
        opacity: 0.5;
    }

    40% {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

@keyframes prisma-button__dots_flickering {
    from {
        opacity: 0.3;
    }

    20% {
        opacity: 0.5;
    }

    40% {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

.prisma-button__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.prisma-button_process .prisma-button__dots {
        visibility: visible;
    }

.prisma-button__dot {
    width: 6px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
    flex-shrink: 0;
    -webkit-animation: 1.5s ease-in infinite prisma-button__dots_flickering;
            animation: 1.5s ease-in infinite prisma-button__dots_flickering;
}

.prisma-button__dot:nth-child(2) {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
    }

.prisma-button__dot:nth-child(3) {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
    }

.prisma-button__dot + .prisma-button__dot {
        margin-left: var(--spacing-4);
    }

.prisma-button.prisma-button_view_primary {
    --prisma-button-accent-color-resulting: var(--prisma-button-accent-color, var(--color-accent-main-a));
    --prisma-button-accent-color-active-resulting: var(--prisma-button-accent-color-active, var(--color-accent-main-b));

    background-color: var(--color-accent-neutral);
    color: var(--color-content-inverted-primary);
}

.prisma-button.prisma-button_view_primary:hover {
        background-color: var(--prisma-button-accent-color-resulting);
    }

.prisma-button.prisma-button_view_primary:active {
        background-color: var(--prisma-button-accent-color-active-resulting);
    }

.prisma-button.prisma-button_view_primary:disabled {
        background-color: var(--color-background-glassy-a);
        color: var(--color-content-tertiary);
    }

.prisma-button.prisma-button_view_primary:disabled.prisma-button_process {
            background-color: var(--prisma-button-accent-color-resulting);
            color: var(--color-content-inverted-primary);
        }

.prisma-button.prisma-button_view_primary .prisma-button__sublabel {
        color: var(--color-content-inverted-secondary);
    }

.prisma-button.prisma-button_view_secondary {
    background-color: var(--color-background-glassy-a);
    color: var(--color-content-primary);
}

.prisma-button.prisma-button_view_secondary:hover {
        background-color: var(--color-background-glassy-b);
    }

.prisma-button.prisma-button_view_secondary:active {
        background-color: var(--color-background-glassy-c);
    }

.prisma-button.prisma-button_view_secondary:disabled {
        background-color: var(--color-background-glassy-a);
        color: var(--color-content-tertiary);
    }

.prisma-button.prisma-button_view_secondary:disabled.prisma-button_process {
            background-color: var(--color-background-glassy-b);
            color: var(--color-content-primary);
        }

.prisma-button.prisma-button_view_secondary .prisma-button__sublabel {
        color: var(--color-content-secondary);
    }

.prisma-button.prisma-button_view_ghost {
    border-color: var(--color-accent-neutral);
    color: var(--color-content-primary);
}

.prisma-button.prisma-button_view_ghost:hover {
        border-color: var(--color-accent-main-a);
        color: var(--color-accent-main-a);
    }

.prisma-button.prisma-button_view_ghost:hover .prisma-button__sublabel {
            color: var(--color-accent-main-a);
        }

.prisma-button.prisma-button_view_ghost:active {
        border-color: var(--color-accent-main-b);
        color: var(--color-accent-main-b);
    }

.prisma-button.prisma-button_view_ghost:active .prisma-button__sublabel {
            color: var(--color-accent-main-b);
        }

.prisma-button.prisma-button_view_ghost:disabled {
        border-color: var(--color-background-glassy-a);
        color: var(--color-content-tertiary);
    }

.prisma-button.prisma-button_view_ghost:disabled.prisma-button_process {
            border-color: var(--color-accent-main-a);
            color: var(--color-accent-main-a);
        }

.prisma-button.prisma-button_view_ghost .prisma-button__sublabel {
        color: var(--color-content-secondary);
    }

.prisma-button.prisma-button_view_clear {
    color: var(--color-content-primary);
}

.prisma-button.prisma-button_view_clear:hover {
        background-color: var(--color-background-glassy-b);
    }

.prisma-button.prisma-button_view_clear:active {
        background-color: var(--color-background-glassy-c);
    }

.prisma-button.prisma-button_view_clear:disabled {
        color: var(--color-content-tertiary);
    }

.prisma-button.prisma-button_view_clear:disabled.prisma-button_process {
            background-color: var(--color-background-glassy-b);
            color: var(--color-content-primary);
        }

.prisma-button.prisma-button_view_clear .prisma-button__sublabel {
        color: var(--color-content-secondary);
    }

.prisma-button.prisma-button_view_raised {
    color: var(--color-content-primary);
    background-color: var(--color-background-default);
    box-shadow: var(--shadow-small-default);
}

.prisma-button.prisma-button_view_raised:hover {
        box-shadow: var(--shadow-small-hovered);
    }

.prisma-button.prisma-button_view_raised:active {
        box-shadow: var(--shadow-small-pressed);
    }

.prisma-button.prisma-button_view_raised:disabled {
        background-color: var(--color-background-glassy-a);
        color: var(--color-content-tertiary);
        box-shadow: var(--shadow-small-hidden);
    }

.prisma-button.prisma-button_view_raised:disabled.prisma-button_process {
            color: var(--color-content-primary);
            background-color: var(--color-background-default);
            box-shadow: var(--shadow-small-hovered);
        }

.prisma-button.prisma-button_view_raised .prisma-button__sublabel {
        color: var(--color-content-secondary);
    }

.prisma-button.prisma-button_view_link {
    --prisma-button-accent-color-resulting: var(--prisma-button-accent-color, var(--color-accent-main-a));
    --prisma-button-accent-color-active-resulting: var(--prisma-button-accent-color-active, var(--color-accent-main-b));

    color: var(--color-content-primary);
}

.prisma-button.prisma-button_view_link:hover {
        color: var(--prisma-button-accent-color-resulting);
    }

.prisma-button.prisma-button_view_link:active {
        color: var(--prisma-button-accent-color-active-resulting);
    }

.prisma-button.prisma-button_view_link:disabled {
        color: var(--color-content-tertiary);
    }

.prisma-button.prisma-button_view_link:disabled.prisma-button_process {
            color: var(--prisma-button-accent-color-resulting);
        }

.prisma-button_size_l {
    --vertical-padding: calc(20px - var(--border-width));

    font: var(--font-ys-body-16-medium-ui);
    padding: var(--vertical-padding) calc(24px - var(--border-width));
    border-radius: var(--border-radius-14);
}

.prisma-button_size_l.prisma-button_with-icon {
        --vertical-padding: calc(18px - var(--border-width));
    }

.prisma-button_size_l.prisma-button_with-icon.prisma-button_icon-placement_left {
            padding-left: calc(22px - var(--border-width));
            padding-right: calc(26px - var(--border-width));
        }

.prisma-button_size_l.prisma-button_with-icon.prisma-button_icon-placement_right {
            padding-left: calc(26px - var(--border-width));
            padding-right: calc(22px - var(--border-width));
        }

.prisma-button_size_l.prisma-button_with-sublabel {
        padding-top: calc(12px - var(--border-width));
        padding-bottom: calc(12px - var(--border-width));
    }

.prisma-button_size_l .prisma-button__sublabel {
        font: var(--font-ys-caption-12-medium);
    }

.prisma-button_size_m {
    --vertical-padding: calc(15px - var(--border-width));

    font: var(--font-ys-body-16-medium-ui);
    padding: var(--vertical-padding) calc(24px - var(--border-width));
    border-radius: var(--border-radius-12);
}

.prisma-button_size_m.prisma-button_with-icon {
        --vertical-padding: calc(13px - var(--border-width));
    }

.prisma-button_size_m.prisma-button_with-icon.prisma-button_icon-placement_left {
            padding-left: calc(18px - var(--border-width));
            padding-right: calc(26px - var(--border-width));
        }

.prisma-button_size_m.prisma-button_with-icon.prisma-button_icon-placement_right {
            padding-left: calc(26px - var(--border-width));
            padding-right: calc(18px - var(--border-width));
        }

.prisma-button_size_m.prisma-button_with-sublabel {
        padding: calc(7px - var(--border-width)) calc(24px - var(--border-width));
    }

.prisma-button_size_m .prisma-button__sublabel {
        font: var(--font-ys-caption-12-medium);
    }

.prisma-button_size_s {
    --vertical-padding: calc(9px - var(--border-width));

    font: var(--font-ys-caption-14-medium);
    padding: var(--vertical-padding) calc(16px - var(--border-width));
    border-radius: var(--border-radius-10);
}

.prisma-button_size_s.prisma-button_with-icon {
        --vertical-padding: calc(6px - var(--border-width));
    }

.prisma-button_size_s.prisma-button_with-icon.prisma-button_icon-placement_left {
            padding-left: calc(10px - var(--border-width));
            padding-right: calc(14px - var(--border-width));
        }

.prisma-button_size_s.prisma-button_with-icon.prisma-button_icon-placement_right {
            padding-left: calc(14px - var(--border-width));
            padding-right: calc(10px - var(--border-width));
        }

.prisma-button_size_xs {
    --vertical-padding: calc(7px - var(--border-width));

    font: var(--font-ys-caption-14-medium);
    padding: var(--vertical-padding) calc(12px - var(--border-width));
    border-radius: var(--border-radius-10);
}

.prisma-button_size_xs.prisma-button_with-icon {
        --vertical-padding: calc(4px - var(--border-width));
    }

.prisma-button_size_xs.prisma-button_with-icon.prisma-button_icon-placement_left {
            padding-left: calc(10px - var(--border-width));
            padding-right: calc(14px - var(--border-width));
        }

.prisma-button_size_xs.prisma-button_with-icon.prisma-button_icon-placement_right {
            padding-left: calc(14px - var(--border-width));
            padding-right: calc(10px - var(--border-width));
        }

.prisma-button.prisma-button_position-in-group_left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.prisma-button.prisma-button_position-in-group_right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.prisma-button.prisma-button_position-in-group_middle {
    border-radius: 0;
}

.prisma-button {
    --border-width: 2px;
    --transition-duration: 0.15s;

    margin: 0;
    background: none;
    cursor: pointer;
    border: var(--border-width) solid transparent;
    display: inline-block;
    position: relative;
    transition-property: background-color, border-color, box-shadow, color, transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
}

.prisma-button:disabled {
        cursor: default;
        pointer-events: none;
    }

.prisma-button:active {
        transform: scale(0.96);
    }

.prisma-button__content {
    display: flex;
    align-items: center;
}

.prisma-button_process .prisma-button__content {
        visibility: hidden;
    }

.prisma-button__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prisma-button_icon-placement_right .prisma-button__text {
        order: -1;
    }

.prisma-button__sublabel {
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
}

.prisma-button__icon {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
}

.prisma-button_icon-placement_left .prisma-button__icon {
        margin-right: var(--spacing-4);
    }

.prisma-button_icon-placement_right .prisma-button__icon {
        margin-left: var(--spacing-4);
    }

.prisma-button.prisma-button_icon-placement_replace {
    /* Переменную --vertical-padding определяем в файлах ./_size/prisma-button_size_*.pcss */
    padding-left: var(--vertical-padding);
    padding-right: var(--vertical-padding);
}


/*# sourceMappingURL=referral-modal.build.css.map*/